<p>
  quotes works!
</p>
<!-- <p>{{quote.title}}</p> -->
<button (click) = 'toogleDetails(true)'> Complete </button>

<h1>My quotes</h1>
<hr>
<ul>
    <div *ngFor='let quote of quotes;let i = index'>
        <li >{{quote.title}}</li>
    <h2>My Number</h2>
        <li >{{quote.id}}</li>
        <li >{{quote.author}}</li>
        <button  (click)='toogleDetails(i)'>Toogle Details</button>

        <app-quotes-details *ngIf="quote.showDescription" {[Quotes]} ='quotes'></app-quotes-details>
    </div>
</ul>
  <p *ngIf='quotes.length > 5'>You have too many quotes</p>